{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	<div class="swiper-container" data-mydata="{{ myData|json_encode|raw }}">
		<div class="swiper-wrapper">
			{% for data in myData %}
				<div class="swiper-slide" data-id="{{ data.categoryId }}">
					<img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" width="500px">
					<h1>{{ data.categoryName }}</h1>
				</div>
			{% endfor %}
		</div>
	</div>

	<ul id="song-list"></ul>


{% endblock %}
