

{% block title %}Category{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/dashboardHome.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="swiper-container" data-mydata="{{ myData|json_encode|raw }}">
			{% for data in myData %}
				<div class="show_category">
					<div class="swiper-slide" data-id="{{ data.categoryId }}">
						<img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" width="300px" height="200px">
						<h1>{{ data.categoryName }}</h1>
					</div>
					<div class="admin_one_category">
						<i class="fa fa-pencil" style="font-size:36px"></i>
						<i class="fa fa-trash-o" style="font-size:36px"></i>
					</div>
				</div>
			{% endfor %}
	</div>


    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
