<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
       
    

            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('assets/commun.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/login.css') }}" rel="stylesheet">
            <script src="{{ asset('assets/script.js') }}"></script>
            
        {% endblock %}

        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
          {%  include "partials/_header.html.twig" %}
        {% endblock %}
       
        {% block body %}{% endblock %}


         {% block footer %}
           {# {%  include "partials/_footer.html.twig" %} #}
        {% endblock %}
    </body>
</html>
