{% extends 'base.html.twig' %}

{% block title %}Favorite index
{% endblock %}

{% block body %}
<div id="containerFavorite">
	<h3>Ma playlist</h3>
</div>

<table class="table">

	<tbody>
		{% for favorite in favorites %}
			<tr>
				<td>
					<h4>{{favorite.artist}}</h4>
				</td>
				<td>
					<h5>{{favorite.title}}</h5>
				</td>
				<td>
					<i class="bi bi-play-fill"></i>
				</td>
				<td>
					<form method="post" action="{{ path('app_favorite_delete', {'id': favorite.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir retirer cette musique de vos favoris ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favorite.id) }}">
						<button class="btn">
							<a href="{{ path('player') }}">
								<iclass="bibi-trash-fill"></a>
							</i>
						</button>
					</td>
				</td>
			</tr>
		</form>
	</tbody>
</td></tr></tbody></tbody></td>{% endfor %}</div></table>{% endblock %}
